<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="2">

    <Properties>
        <!-- 日志根目录-->
        <Property name="log_path">/home/logs/commons</Property>
        <!-- 日志归档目录-->
        <Property name="log-gz-path">/home/logs/commons/loggz</Property>
        <!-- 日志格式 -->
        <Property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%traceId] (%c{1}#%M:%L) %t - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${log_pattern}"/>
        </Console>

        <RollingFile name="debug" fileName="${log_path}/debug.log"
                     immediateFlush="false" append="true"
                     filePattern="${log-gz-path}/$${date:yyyy-MM-dd}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log_pattern}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="info" fileName="${log_path}/info.log"
                     immediateFlush="false" append="true"
                     filePattern="${log-gz-path}/$${date:yyyy-MM-dd}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log_pattern}"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="warn" fileName="${log_path}/warn.log"
                     immediateFlush="false"
                     append="true"
                     filePattern="${log-gz-path}/$${date:yyyy-MM-dd}/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log_pattern}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="error" fileName="${log_path}/error.log"
                     immediateFlush="false" append="true"
                     filePattern="${log-gz-path}/$${date:yyyy-MM-dd}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log_pattern}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="debug"/>
            <AppenderRef ref="info"/>
            <AppenderRef ref="warn"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</Configuration>